:root{
    /* Primary colors*/
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);

    /* Neutral colors*/

    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}


.jeanetteh5{
    color: var(--Very-dark-grayish-blue);
}

.jeanettep {
    color: var(--Very-dark-grayish-blue);
    opacity: .6;
}

.jeanetteh1{
    color: var(--Very-dark-grayish-blue);
}

.jeanettep2{
    color: var(--Very-dark-grayish-blue);
    opacity: .6;
}